*{
    padding: 0px;
    margin: 0px;
}

.caja1{
    height: 200px;
    width: 100%;
    color: #FFF;
    background-color: rgb(24, 95, 207);
    text-align: center;
    text-transform: uppercase;
    position: relative;
}
.caja2{
    text-align: left !important;
    width: 100%;
    background-color: rgb(28, 158, 16);
    position: absolute;
    bottom: 0px;
    height: 40px;
}

.caja3{
    width: 200px;
    height: calc(100vh - 270px);
    background-color: rgb(189, 60, 60);
    float: right;
}

.caja4{
    height: calc(100vh - 270px);
    background: rgb(10, 160, 165);
}

.caja5{
    height: 70px;
    background: #000;
    color: #FFF;
    text-align: center;
}